package ${package_name}.${module}.service.impl;

import ${package_name}.${module}.service.${model}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Service;
import ${package_name}.${module}.service.dao.generate.${model}Mapper;
import org.springframework.transaction.annotation.Transactional;
import javax.annotation.Resource;

/**
* ${model}Service实现
*/
@Service
@Transactional
public class ${model}ServiceImpl implements ${model}Service {

    private static final Logger LOGGER = LoggerFactory.getLogger(${model}ServiceImpl.class);

    @Resource
    ${model}Mapper ${mapper}Mapper;

}